body {
	font-family: "Century Gothic";
	background-color: CornflowerBlue;
}

.bold {
	font-weight: bold;
}

.fancy {
	font-weight: bold;
	font-family: Palatino;
	font-size: 52px;
}

.center {
    text-align: center;
}